{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
Reset Your Password
{% endblock %}
{% block content %}
<div class="password-reset-done-container">
    <h1>Reset Your Password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>

<style>
    body {
        background-color: #f0f0f0; /* Background color */
        font-family: Arial, sans-serif;
    }

    .password-reset-done-container {
        background-color: #fff; /* Content background color */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
    }

    h1 {
        color: #333; /* Header text color */
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        color: #555; /* Paragraph text color */
        font-size: 18px;
        margin-bottom: 20px;
    }
</style>
<link rel="shortcut icon" href="{% static "images/Key.png" %}" type="">

{% endblock %}
