{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
Password reset
{% endblock %}
{% block content %}
<div style="text-align: center; padding: 50px;">
    <h1>Password Set Successfully</h1>
    <p>Your password has been successfully set.</p>
    <p><a href="{% url 'login' %}" class="btn btn-primary">Login Now</a></p>
</div>

<style>
    body {
        background-color: #f0f0f0; /* Background color */
        font-family: Arial, sans-serif;
    }

    div {
        background-color: #fff; /* Content background color */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 0 auto;
        max-width: 400px;
    }

    h1 {
        color: #333; /* Header text color */
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        color: #555; /* Paragraph text color */
        font-size: 18px;
    }

    .btn {
        background-color: #3498db; /* Button background color */
        color: #fff; /* Button text color */
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 10px;
    }

    .btn:hover {
        background-color: #2980b9; /* Button background color on hover */
    }
</style>
{% endblock %}
