{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
Reset Your Password
{% endblock %}
{% block content %}
<div class="password-reset-container">
    <h1>Reset Your Password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change My Password" class="btn btn-primary" /></p>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>

<style>
    body {
        background-color: #f0f0f0; /* Background color */
        font-family: Arial, sans-serif;
    }

    .password-reset-container {
        background-color: #fff; /* Content background color */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
    }

    h1 {
        color: #333; /* Header text color */
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        color: #555; /* Paragraph text color */
        font-size: 18px;
        margin-bottom: 20px;
    }

    .btn {
        background-color: #3498db; /* Button background color */
        color: #fff; /* Button text color */
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
    }

    .btn:hover {
        background-color: #2980b9; /* Button background color on hover */
    }
</style>
{% endblock %}
