<!-- payment.html -->

<html lang="en">
<head>
    <!-- Other head elements -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <button id="pay-button">Proceed to payment</button>
    <script>
        var options = {
            key: '{{ razorpay_api_key }}',
            amount: '{{ amount }}',
            currency: '{{ currency }}',
            name: 'Property Rentals',
            description: 'Security Amount',
            image: 'path_to_logo.png',
            prefill: {
                name: 'Your Name',
                email: 'your_email@example.com',
            },
            theme: {
                color: '#F37254',
            },
            handler: function(response) {
                // This function will be called on successful payment
                console.log(response);

                // Post the payment details to your Django view for handling
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url "handle_payment" %}', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Redirect to the 'tenantpg' URL after successful payment
                        window.location.href = '{% url "tenantpg" %}';
                    }
                };
                var data = 'razorpay_payment_id=' + response.razorpay_payment_id + '&razorpay_order_id=' + response.razorpay_order_id;
                xhr.send(data);
            },
        };
    
        var rzp = new Razorpay(options);
    
        document.getElementById('pay-button').onclick = function () {
            rzp.open();
        };
    </script>
    
</body>
</html>
